:root {
  --brand-color0: #171a21;
  --brand-color1: #2d1d38;
  --brand-color2: #6a3554;
  --brand-color3: #aa5360;
  --brand-color4: #f9b664;
}

body {
  /* background-image: linear-gradient(90deg, #192c3f, #1c2838);*/
  background-color: rgb(226, 226, 226);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* Nav Bar */

.top-stripe {
  height: 4px;
  position: sticky;
  top: 0;
  background: rgb(128, 0, 128);
  background: linear-gradient(
    273deg,
    rgba(128, 0, 128, 1) 0%,
    rgb(140, 58, 140) 100%
  );
  z-index: 100;
}

nav {
  background: rgb(50, 48, 51);
  background: linear-gradient(
    326deg,
    rgba(50, 48, 51, 1) 0%,
    rgba(32, 32, 32, 1) 100%
  );
  align-items: center;
  top: 0;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  color: rgb(205, 205, 205);
  max-width: 100%;
}

.nav-container {
  margin: 0 40px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

nav img {
  width: 1.4em;
}

.left-menu {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

nav span {
  margin-left: 20px;
  font-weight: bold;
  font-size: 14px;
}

nav span:hover {
  color: white;
  cursor: pointer;
}

nav .chev {
  margin-left: 4px;
  font-size: 10px;
  align-items: center;
}

nav .right-icon {
  margin-left: 28px;
  font-size: 18px;
}

#hamburg {
  font-size: 0px;
  margin-left: 0px;
}

nav .right-icon:hover {
  color: white;
  cursor: pointer;
}

nav h2 {
  color: red;
  margin: auto;
  justify-content: center;
  display: flex;
}

nav i {
  font-size: 24px;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  width: 180px;
  top: 60px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px 4px;
  margin-top: 4px; /* Add margin-top for consistent spacing */
}

.dropdown-content1 a {
  color: #383838;
  text-decoration: none;
  margin-left: 12px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
  display: flex; /* Add display flex to align items */
  justify-content: space-between; /* Align items on opposite ends */
  align-items: center; /* Vertically center items */
}

.dropdown-content1 i {
  color: #000;
  text-decoration: none;
  margin-right: 12px; /* Adjust margin to align chevron */
  font-size: 11px;
}

.dropdown-content1 hr {
  margin: 8px 0; /* Adjust margin for consistent spacing */
}

#nav-menu-items {
  height: 100%;
}

#nav-menu-items::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 50%;
  height: 100px;
  background-color: transparent; /* Set to transparent to make it invisible */
}

#nav-menu-items:hover .dropdown-content1 {
  display: block;
}

.dropdown-content1 a {
  display: block;
}

#nav-menu-items:hover .dropdown-content1,
.dropdown-content1:hover {
  display: block;
}

/* Content Hero Section */

.hero-section {
  position: relative;
  margin: 40px auto;
  padding: 0 40px;
  border-radius: 4px;
  color: white;
  max-width: 1200px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 4px;
}

.hero-image {
  width: 100%;
  max-width: 1200px;
  max-height: 500px;
  object-fit: contain;
  border-radius: 8px;
  object-fit: cover;
  height: 100%;
  border-radius: 4px;
}

.hero-content {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
}

.hero-content h2 {
  align-items: baseline;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-h {
  font-size: 1.8em;
  transition: font-size 0.2s ease;
}

.top p {
  margin-left: 16px;
}

.b-right {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0;
  right: 0;
  padding: 40px 80px;
  align-items: center;
  font-weight: bold;
}

.b-right button {
  margin-left: 20px;
  background: linear-gradient(
    273deg,
    rgba(121, 24, 121, 1) 0%,
    rgba(160, 41, 160, 1) 100%
  );
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  height: 42px;
  padding: 12px;
  border: 0.1px solid rgb(170, 62, 170);
  border-radius: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(36, 34, 34, 0.3);
}

.b-right button:hover {
  background: linear-gradient(
    273deg,
    rgb(126, 48, 126) 0%,
    rgb(151, 66, 151) 100%
  );
}

/* Content Section 1*/

.stack-one {
  padding: 0 40px;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
}

.card-container {
  width: 20%;
  background-color: rgb(243, 243, 243);
  color: #171a21;
  border-radius: 4px;
  margin: auto;
  margin-right: 2%;
  flex-grow: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.card-container:last-child {
  margin-right: 0;
}

.card-container img {
  width: 100%;
  height: 120px;
  margin-bottom: 8px;
  border-radius: 1px 1px 0 0;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.top-det {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.top-det button {
  background: linear-gradient(
    273deg,
    rgba(121, 24, 121, 1) 0%,
    rgba(160, 41, 160, 1) 100%
  );
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  height: 42px;
  padding: 10px;
  border: 0.1px solid rgb(170, 62, 170);
  border-radius: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(36, 34, 34, 0.3);
}

.top-det button:hover {
  background: linear-gradient(
    273deg,
    rgb(126, 48, 126) 0%,
    rgb(151, 66, 151) 100%
  );
}

.card-title {
  font-size: 16px;
}

.bottom-det {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  font-size: 16px;
}

/* Content  2*/

.intro-stack2 {
  margin: 20px auto;
  max-width: 1200px;
  padding: 0px 40px;
}

.intro-stack2 i {
  font-size: 18px;
  margin-right: 8px;
}

.stack-two-content {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px auto;
  padding: 40px;
}

/* Content  3*/

.hrstk3h {
  border: 0.9px solid rgb(50, 48, 51, 0.5);
}

.stk3-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px auto;
  padding: 0px 40px;
  max-width: 1200px;
}

.stk3textB {
  color: rgb(216, 113, 216);
  font-weight: bold;
}

.stk3textB:hover {
  color: rgb(176, 27, 176);
}

.hr-stk3 {
  margin: 0 20px;
}

.subcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 50%; /* Adjust the value to control the initial size */
}

/* Content  4*/

.intro-stack {
  max-width: 1200px;
  margin: 40px auto;
}

.fa-star {
  font-size: 15px;
  margin-right: 8px;
}

.intro-stack4 {
  padding: 0 40px;
  margin: 40px auto;
  max-width: 1200px;
}

.long-card-container {
  margin: 20px auto;
  max-width: 1200px;
  padding: 0px 40px;
  height: 50%;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 2%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url(Images/metroid1.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#lc2 {
  background-image: url(Images/gow.png);
  background-size: cover;
  background-position: center;
}

#lc3 {
  background-image: url(Images/re.png);
  background-size: cover;
  background-position: center;
}

#lc4 {
  background-image: url(Images/de.png);
  background-size: cover;
  background-position: center;
}

.long-card-container span {
  margin: 64px auto;
}

.long-card-text-price {
  font-size: 2em;
  color: rgb(234, 255, 0);
  font-weight: bold;
}

.long-card-container button {
  width: 50%;
  background-color: rgba(181, 181, 181, 0.5);
  color: white;
  align-items: center;
  margin: auto;
  margin-bottom: 24px;
  opacity: 1;
  padding: 5px;
  border: 1px solid white;
}

.stack-four-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 40px auto;
  max-width: 1200px;
  padding: 40px;
}

/* Content  6*/

.intro-stack6 {
  margin: 40px auto;
  padding: 20px 40px;
  max-width: 1200px;
}

.intro-stack6 i {
  font-size: 15px;
  margin-right: 8px;
}

.stack-6-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px auto;
  padding: 40px;
  max-width: 1200px;
}

.wide-box-parent-container {
  width: 500px;
}

.wide-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-content: center;
  height: 80px;
  margin-bottom: 0px;
  border: 0.5px solid rgb(188, 188, 188);
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

#wide-box-top {
  border-radius: 4px 4px 0 0;
}

#wide-box-bottom {
  border-radius: 0 0 4px 4px;
}

.wide-box-container > div {
  width: calc(
    33.33% - 20px
  ); /* Adjust the width value to control the width of each container */
}

.wide-box-container img {
  width: 130px;
  height: 100%;
}

.wide-box-title-OS {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 70%;
  margin-right: 20px;
}

.wide-box-text {
  width: auto;
}

.wide-box-container button {
  background: linear-gradient(
    273deg,
    rgba(121, 24, 121, 1) 0%,
    rgba(160, 41, 160, 1) 100%
  );
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  height: 2em;
  width: 2.5em;
  margin-left: 12px;
  padding: 10px;
  border: 0.1px solid rgb(170, 62, 170);
  border-radius: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(36, 34, 34, 0.3);
  display: flex;
}

.wide-box-container button:hover {
  background: linear-gradient(
    273deg,
    rgb(126, 48, 126) 0%,
    rgb(151, 66, 151) 100%
  );
}

.wide-box-price-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100%;
  width: auto;
  padding-right: 8px;
}

.image-grid {
  margin-left: 40px;
  width: 50%;
  object-fit: cover;
  border-radius: 4px;
}

.image-grid img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  margin-bottom: -4px;
}

#img-grid-top {
  border-radius: 4px 4px 0 0;
}

#img-grid-b-left {
  border-radius: 0 0 0 4px;
}

#img-grid-b-right {
  border-radius: 0 0 4px 0;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.column-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.stretch-image {
  flex-grow: 1;
}

/*Stack-7*/

.intro-stack7 {
  margin: 40px auto;
  padding: 20px 40px;
  max-width: 1200px;
}

.intro-stack7 i {
  font-size: 15px;
  margin-right: 12px;
}

.stack-7-content {
  display: flex;
  margin: 40px auto;
  padding: 40px;
  max-width: 1200px;
}

.stack-7-block {
  background-color: #87f7ff;
  flex-basis: 50%;
  height: 200px;
  border: none;
  background-image: url(Images/Witcher.webp);
  background-size: cover;
  margin-left: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  background-position: center;
  background-size: cover;
}

.stack-7-block.item1 {
  background-image: url(Images/tetris.jpeg);
}

.stack-7-block.item2 {
  background-image: url(Images/ds1.jpeg);
}

.block-wide {
  flex-basis: 100%;
  margin-left: 0px;
  background-image: url(Images/zelda2.png);
}

/*Footer*/

footer {
  background-color: rgba(32, 32, 32, 1);
  padding: 20px;
  max-width: 1200px;
  margin: 40px auto;
  position: relative;
}

footer p {
  color: #666666;
  font-size: 12px;
  margin-block-start: 0;
  margin-block-end: 0;
}

footer a {
  color: rgb(194, 194, 194);
  font-size: 12px;
  margin-right: 16px;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

footer a:hover {
  color: rgb(150, 150, 150);
}

footer i {
  font-size: 18px;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.footer-upper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.footerhr {
  border: 1px solid #7e7e7e;
  opacity: 0.8;
}

.footer-bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.footer-bottom-wrapper a {
  color: #666666;
}

.footer-info {
  text-align: right;
}
/*Media*/

@media (max-width: 768px) {
  #hamburg {
    margin-left: 28px;
    font-size: 20px;
  }

  #nav-menu-items {
    font-size: 0px;
    background-color: red;
    display: none;
  }

  /* Media Hero*/

  .b-right span {
    display: none;
  }

  .hero-h {
    font-size: 1.1em; /* Adjust the font size as needed for smaller screens */
  }

  /* Media stack1*/
  .stack-one {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .card-container {
    width: 48%;
    margin-bottom: 20px;
  }

  .stack-two-content {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  footer {
    padding: 10px;
  }

  .footer-upper-wrapper,
  .footer-bottom-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-upper-wrapper .links,
  .footer-bottom-wrapper .linksbottom {
    margin-top: 10px;
    margin-bottom: 16px;
  }

  .footer-bottom-wrapper {
    margin-top: 20px;
  }

  .image-grid {
    display: none;
  }

  .wide-box-parent-container {
    width: 100%;
  }

  .stack-four {
    display: none;
  }

  .stack-five {
    margin-top: 80px;
  }

  .stack-7-content {
    display: block;
    margin-top: 16px;
  }

  .stack-7-block.item1 {
    margin-left: 0px;
    margin-top: 8px;
  }

  .stack-7-block.item2 {
    margin-left: 0px;
    margin-top: 8px;
  }
}

/* Styles for screens up to 400px */
@media (max-width: 400px) {
  /* Override styles for smaller screens */

  /* Example adjustments for responsive design */

  /* Modify font sizes */
  body {
    font-size: 12px;
  }

  .card-title {
    font-size: 11px;
    font-weight: bold;
  }

  /* Adjust image size */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Modify the layout */
  .container {
    padding: 10px;
  }

  /* Rearrange elements using flexbox */
  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .flex-item {
    margin-bottom: 10px;
  }

  .wide-box-container button {
    display: none;
  }

  .stack-7-content {
    flex-wrap: wrap;
  }
}
